/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

/* :root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-bg: #040C18;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;
} */

:root {
  /* --ifm-font-family-monospace: "Source Code Pro", SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;
  --ifm-font-family-base: "Source Sans Pro", sans-serif;
  --ifm-heading-font-family: "Source Sans Pro", sans-serif; */
  --ifm-color-success: #086343 !important;
  --ifm-color-info: #047377 !important;
  --ifm-color-warning: #9f1b1f !important;
  --ifm-color-danger: #a64f21 !important;
  --ifm-color-success-light: #d6f3e2 !important;
  --ifm-color-info-light: #d9f6f4 !important;
  --ifm-color-warning-light: #ffe1be !important;
  --ifm-color-danger-light: #f9d3d4 !important;
  --ifm-color-gray-900: #262a38;
  --ifm-font-weight-narrow: 400;
  --ifm-font-weight-semibold: 600;
  --ifm-font-weight-bold: 700;
  --ifm-h1-font-size: 2.5rem;
  --ifm-h2-font-size: 2.063rem;
  --ifm-h3-font-size: 1.563rem;
  --ifm-h4-font-size: 1.063rem;
  --ifm-h5-font-size: 0.938rem;
  --ifm-navbar-height: 85px;
  --ifm-navbar-link-hover-color: var(--color-orange);
  --ifm-navbar-link-active-color: var(--color-orange);
  --ifm-footer-padding-vertical: calc(var(--ifm-spacing-vertical) * 1.875);
  --ifm-footer-background-color: var(--color-white); /* FOOTER BG COLOR */
  --ifm-footer-color: var(--color-black); /* FOOTER TEXT COLOR */
  --ifm-link-color: var(--color-blue); /* LINK COLOR*/
  --ifm-color-primary: #000000;
  --ifm-link-hover-color: var(--color-blue);
  --ifm-button-border-radius: 5px;
  --ifm-menu-color: var(--color-black); /* DOC MENU LEFT */
  --ifm-menu-color-active: var(--color-orange);
  --ifm-pagination-nav-color-hover: var(--color-black); /* Previous/Next on DOCS [OUTLINE]*/
  --ifm-tabs-color-active: #000a99;
  --ifm-menu-color-background-active: var(--color-off-white); /* DOC MENU LEFT [ACTIVE SELECTION] */
  --ifm-code-padding-vertical: 0.2rem;
  --ifm-code-padding-horizontal: 0.4rem;
  --ifm-code-background: #f6f8fa; /* IN-LINE CODE BG COLOR */
  --ifm-navbar-item-padding-horizontal: 1rem;
  --ifm-alert-color: var(--ifm-font-color-base-inverse);
  --ifm-color-info-contrast-foreground: var(--ifm-color-gray-900);
  --ifm-alert-foreground-color: var(--ifm-color-gray-900);
  --ifm-toc-padding-vertical: 1rem;
  --color-orange: #fca311;
  --color-blue: #3d30ed;
  --color-off-white: #eff2f3;
  --color-white: white;
  --color-off-black: #1b1b1d;
  --color-black: black;
  /* --color-nav-text: #ff0000; */
  /* --color-nav-sub-level-text: #ff0000; */
  --color-footer-accent: var(--color-black); /* Previous/Next on DOCS [WORD]*/
  --docsearch-text-color: #ff0000;
  --pagination-icon-next: "\2192";
  --pagination-icon-prev: "\2190";
  --filter-brightness-low: 1.1;
  --filter-brightness-high: 1.5;

  --light-dark-toggle: "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTQuMzA4IDMuMzg1YzAtMS4xNzguMTczLTIuMzcuNjE1LTMuMzg1QzEuOTgzIDEuMjggMCA0LjI4MiAwIDcuNjkyQTguMzA4IDguMzA4IDAgMCAwIDguMzA4IDE2YzMuNDEgMCA2LjQxMi0xLjk4MyA3LjY5Mi00LjkyMy0xLjAxNS40NDItMi4yMDcuNjE1LTMuMzg1LjYxNWE4LjMwOCA4LjMwOCAwIDAgMS04LjMwNy04LjMwN1oiIGZpbGw9IiM5MkEwQjMiLz48L3N2Zz4=";
}

[data-theme='dark'] {
  --ifm-color-primary: var(--color-white);
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --ifm-menu-color: var(--color-white);
  --ifm-menu-color-active: var(--color-orange);
  --ifm-menu-color-background-active: #272729; /* DOC MENU LEFT [ACTIVE SELECTION] */
  --ifm-link-color: #006bff; /* LINK COLOR - OFFICIAL LINK COLOR*/
  --ifm-link-hover-color: #006bff;
  --ifm-footer-background-color: var(--color-off-black); /* FOOTER BG COLOR */
  --ifm-footer-color: var(--color-white); /* FOOTER TEXT COLOR */
  --ifm-pagination-nav-color-hover: var(--color-white); /* Previous/Next on DOCS [OUTLINE]*/
}


/* :root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
} */

/* For readability concerns, you should choose a lighter palette in dark mode. */
/* [data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
} */
